<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="ModelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>.\result\</value>
            </setting>
            <setting name="AiRunner" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortByLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxParallelTasks" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CopyIfNotFound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedImageExtensions" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;string&gt;*.jpg&lt;/string&gt;
  &lt;string&gt;*.jpeg&lt;/string&gt;
  &lt;string&gt;*.png&lt;/string&gt;
  &lt;string&gt;*.bmp&lt;/string&gt;
&lt;/ArrayOfString&gt;</value>
            </setting>
            <setting name="NotFoundLabel" serializeAs="String">
                <value>not_found</value>
            </setting>
        </Client.Properties.Settings>
    </userSettings>
</configuration>