<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <!-- Логирование в файл -->
        <target xsi:type="File" name="file" fileName="logs/${logger:lowercase=true:trimWhiteSpace=true}.log"
                layout="${date}|${level:uppercase=true}|${logger}|${message}"/>
    </targets>

    <rules>
        <!-- Записывать все уровни логов в файл -->
        <logger name="*" minlevel="Debug" writeTo="file"/>
    </rules>
</nlog>
